.App {
  text-align: center;
}

.App ul li{
  width: 400px;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;

}
button{
  margin: 10px;
}
.red{

  background-color: red;
}
.green{

  background-color: green;
}
.blue{

  background-color: blue;
}
.pink{

  background-color: pink;
}

